.form_control {
    background-color: #eeeeee;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.input_group img {
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 25px;
    padding-left: 1px;
    box-sizing: border-box;
}

.search_box {
    width: 100%;
}

.search_box>div {
    float: left;
}

.search_box .option_group select {
    padding: 5px 15px;
    width: 100px;
    height: 33px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-left: 10px;
}

.search_box .search_group {
    float: right;
}

.search_box .search_group input {
    width: 300px;
    height: 33px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #167ee6;
    box-sizing: border-box;
}

.search_box .search_group .search_btn {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 8px 5px;
    color: #fff;
    background-color: #167ee6;
    border-color: #167ee6;
    line-height: normal;
    margin-right: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.date_btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #262626;
    background-color: #f2f2f8;
    border-color: #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.date_btn:hover {
    color: #fff;
    background-color: #495569;
    border-color: #495569;
}